body {
  background-color: #000;
  color: #fff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { 
	display: inline-block; 
}

/* commented backslash hack \*/
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}


.reveal .slides {
  background-color: #f0f0f0;
  color: #000;
  text-align: left;
}

* {
	box-sizing: border-box;
}

.reveal .slides > section, 
.reveal .slides > section > section {
	height: 100%;
	padding: 0;
}

/******************************
   Title slide layout
 ******************************/
#title-slide .title-wrapper {
	background-color: teal;
	float: left;
	height: 100%;
	padding: 50px 100px 50px 150px;
	position: relative;
	width: 75%;
}

#title-slide .title-inner {
	bottom: 40%;
	position: absolute;
	text-align: left;
}

#title-slide .sidebar-wrapper {
	float: left;
	height: 100%;
	width: 25%;
}

#title-slide .sidebar-wrapper .sidebar-inner {
	background-color: lightblue;
	height: 100%;
	margin-left: 15px;
	position: relative;
}

#title-slide .sidebar-inner .logo {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#title-slide .sidebar-inner .logo img.sitenow-logo{
	width: 100%;
	height: auto;
}

/******************************
   Standard slide layout
 ******************************/
.header-wrapper,
.footer-wrapper {
	clear: both;
	height: 10%;
	width: 100%;
}

.slide .main-content-wrapper {
	clear: both;
	height: 80%;
}

.main-content-wrapper .title-wrapper {
	background-color: teal;
	display: table;
	height: 100%;
	float: left;
	width: 25%;
}

.main-content-wrapper .title-wrapper .title-wrapper-inner {
	display: table-cell;
	padding: 40px;
	vertical-align: middle;
}

.main-content-wrapper .content-wrapper {
	display: table;
	float: left;
	height: 100%;
	padding: 20px 40px;
	width: 73%;
}

.main-content-wrapper .content-wrapper .content {
	display: table-cell;
	vertical-align: middle;
}

.main-content-wrapper .sidebar-wrapper {
	background-color: lightblue;
	float: left;
	height: 100%;
	width: 2%;
}

.footer-wrapper .logo {
	float: right;
	height: 100%;
}
.footer-wrapper .logo img {
	height: 100%;
	width: auto;
}
