@import url(http://fonts.googleapis.com/css?family=Roboto:300,400);

/**
 * A theme for reveal.js presentations based on the University of Iowa ITS
 * SiteNow PowerPoint slides created by Mark Ahrens.
 */

* {
	box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  line-height: 1.25;
}

img {
	height: auto;
	max-width: 100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix { 
	display: inline-block; 
}

/* commented backslash hack \*/
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}

/******************************
   Text and lists
 ******************************/
.reveal .title-wrapper {
 	color: #fff;
 	font-family: Roboto,sans-serif;
}

.main-content-wrapper {
	color: #334F64;
	height: 80%;
}

.title-only-slide h1 {
	font-size: 4.5rem;
	margin-bottom: 40px;
}

.title-only-slide .subtitle {
	font-size: 2.6rem;
}

.title-only-slide p {
	font-size: 1.75rem;
}

.reveal div {
	font-family: Roboto, sans-serif;
	font-size: 1.5rem;
	font-weight: 300;
}

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4 {
	font-weight: 400;
	margin-bottom: 20px;
} 

.reveal h1 {
	font-size: 3rem;
}

.reveal h2 {
	font-size: 2.7rem;
}

.reveal h3 {
	font-size: 2.4rem;
}

.reveal h4 {
	font-size: 1.9rem;
}

.reveal p {
	margin-bottom: 20px;
}

.reveal ul, 
.reveal ol {
	margin-bottom: 20px;
	margin-left: 20px;
}

.reveal ul li,
.reveal ol li {
	line-height: 1.5em;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #017e8c;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #8C0F01;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #00003f; }

/******************************
   Slides
 ******************************/
.reveal .slides {
  background-color: #f0f0f0;
  color: #000;
  text-align: left;
}

.reveal .slides > section, 
.reveal .slides > section > section {
	height: 100%;
	padding: 0;
}

/******************************
   Title slide layout
 ******************************/
.title-only-slide .main-content-wrapper {
	float: left;
	width: 100%;
}

.title-only-slide .main-content-wrapper .title-wrapper {
	padding: 50px 100px 80px 150px;
	width: 80%;
}

.title-only-slide .main-content-wrapper .title-inner {
	display: table-cell;
	vertical-align: bottom;
}

.title-only-slide .main-content-wrapper .sidebar-wrapper {
	padding-left: 20px;
	width: 20%;
}

/******************************
   Standard slide layout
 ******************************/
.header-wrapper,
.footer-wrapper {
	clear: both;
	height: 10%;
	width: 100%;
}

.slide .main-content-wrapper {
	clear: both;
	height: 80%;
}

.main-content-wrapper .title-wrapper {
	background-color: #0C8693;
	display: table;
	height: 100%;
	float: left;
	width: 25%;
}

.main-content-wrapper .title-wrapper .title-wrapper-inner {
	display: table-cell;
	padding: 40px;
	vertical-align: middle;
}

.main-content-wrapper .content-wrapper {
	display: table;
	float: left;
	height: 100%;
	padding: 20px 40px;
	width: 73%;
}

.main-content-wrapper .content-wrapper .content {
	display: table-cell;
	vertical-align: middle;
}

.main-content-wrapper .sidebar-wrapper {
	float: left;
	height: 100%;
	width: 2%;
}

.main-content-wrapper .sidebar-wrapper .sidebar-inner {
	background-color: #90C3C9;
	height: 100%;
}

.sidebar-inner {
	position: relative;
}

.sidebar-inner .logo {
	bottom: 0;
    max-width: 100%;
    position: absolute;
}

.footer-wrapper .logo {
	float: right;
	height: 100%;
}
.footer-wrapper .logo img {
	height: 100%;
	width: auto;
}
